<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForensicFileTimeline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css?v=1.0.0.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css?v=1.0.0.0.8" asp-append-version="true"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Kendo/styles/kendo.common.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kendo/styles/kendo.default-v2.min.css" asp-append-version="true" />
    <script src="~/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/Kendo/js/kendo.grid.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ForensicFileTimeline</a>
                <div>
                    @(Html.Kendo().Menu()
                      .Name("Menu")
                      .Items(items =>
                      {
                          items.Add().Text("Dashboard").Action("Index", "Home");
                          items.Add()
                              .Text("File Date Timelines")
                              .Items(children =>
                              {
                                  children.Add().Text("Create Date").Action("Index", "CreateDate");
                                  children.Add().Text("Modified Date").Action("Index", "Modified");
                                  children.Add().Text("Last Accessed Date").Action("Index", "LastAccessed");                                  
                              });
                          items.Add().Text("File Locations/Folders").Action("Index", "FileLocation");                          
                          items.Add().Text("Upload File Listing").Action("Index", "Upload");
                          items.Add().Text("Help").Action("Index", "Help");
                      }))
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>        
    </header>
    <div class="container">
        <div class="pb-3">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ForensicFileTimeline - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
